{% extends "base.html" %}

{% block link %}
    {% load static %}
        
    <link rel="stylesheet" type="text/css" href="{% static 'managechecks/styles.css' %}">
{% endblock %}

{% block content %}
<form action="../submitcheck/" method="POST">{% csrf_token %}
    <input type="hidden" name="id" id="id">
    
    <label for="account">Account</label>
    <select id="account" name="account">
        <option value="" disabled selected>Select an Account</option>
        {% for a in accounts %}
        <option value="{{a.account_id}}">{{a.name}}</option>
        {% endfor %}
    </select>
    <a class="btn btn-primary" href="manageaccounts/addaccount">Add Account</a>
    <br/>

    {% include "partials/checkinputs.html" %}
</form>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function datetime_model2html(dt) {
        var date = new Date(dt);
        console.log(date);
        return date;
    }

    $(document).ready(function() {
        $("#id").val("{{check.check_id}}");
        $("#account").val("{{check.account.account_id}}");
        $("#damount").val("{{check.amount}}");
        $("#cnum").val("{{check.check_no}}");
        $("#date").val("{{datetimestr}}");
    });
 </script>
{% endblock %}