{% extends "base.html" %}

{% block link %}
    {% load static %}
        
    <link rel="stylesheet" type="text/css" href="{% static 'managechecks/styles.css' %}">
{% endblock %}

{% block content %}
    <script>
        function deleteCheck(id) {
            var confirmed = confirm("Are you sure you want to delete a check?");
            if (confirmed == true) {
                $.ajax({
                    url: '/managechecks/deletecheck/',
                    data: {
                        'id': id
                    },
                    success: function (data) {
                        $(".check_id_" + id).hide();
                    }
                });
            }
        }
    </script>

    <a class="btn btn-primary" href="/managechecks/addchecks/">Click here to add a check.</a>

    <table id="check-table" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Routing #</th>
                <th>Account #</th>
                <th>Check #</th>
            </tr>
        </thead>
        <tbody>
            {% for c in checks %}
            <tr class="check_id_{{ c.check_id }}">
                <td><a href="/managechecks/editcheck?id={{c.check_id}}">Edit</a></td>
                <td><button class="deletebutton" onclick="deleteCheck({{ c.check_id }})">Delete</button></td>
                <td>{{ c.account.name }}</td>
                <td>{{ c.amount }}</td>
                <td>{{ c.written_date }}</td>
                <td>{{ c.account.routing_no }}</td>
                <td>{{ c.account.account_no }}</td>
                <td>{{ c.check_no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}