{% extends "partials/checksbase.html" %}

{% block title %}Manage Checks{% endblock %}

{% block content %}
    <a class="bigbutton" href="/managechecks/addchecks/">Click here to add a check.</a>

    <table id="check-table" class="tablesorter">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Routing #</th>
                <th>Account #</th>
                <th>Check #</th>
            </tr>
        </thead>
        <tbody>
            {% for c in checks %}
            <tr data-check-id="{{ c.check_id }}">
                <td><a href="/managechecks/editcheck?id={{c.check_id}}">Edit</a></td>
                <td>{{ c.name }}</td>
                <td>{{ c.amount }}</td>
                <td>{{ c.written_date }}</td>
                <td>{{ c.routing_no }}</td>
                <td>{{ c.account_no }}</td>
                <td>{{ c.check_no }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}