.deletebutton {
    background:none!important;
    color:#337ab7;
    border:none; 
    padding:0!important;
    font: inherit;
    cursor: pointer;
}

.deletebutton:hover {
    text-decoration: underline;
}

table {
    margin: 20px;
}

thead, tbody {
    border: 1px solid black;
}

td, th {
    padding: 2px 10px 2px 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
