{% extends "base.html" %}

{% block link %}
    {% load static %}
        
    <link rel="stylesheet" type="text/css" href="{% static 'managechecks/styles.css' %}">
{% endblock %}

{% block content %}
{% include "partials/acctform.html" %}
{% endblock %}

{% block script %}
<script type="text/javascript">
    function datetime_model2html(dt) {
        var date = new Date(dt);
        console.log(date);
        return date;
    }

    $(document).ready(function() {
        $("#id").val("{{account.account_id}}");
        $("#name").val("{{account.name}}");
        $("#pnum").val("{{account.phone_number}}");
        $("#rnum").val("{{account.routing_no}}");
        $("#anum").val("{{account.account_no}}");
        $("#strtadd").val("{{account.street_address}}");
        $("#city").val("{{account.city}}");
        $("#state").val("{{account.state}}");
        $("#zip").val("{{account.zip}}");
    });
 </script>
{% endfor %}