<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<a style="margin: 10px;" href="../">Click here to add a check.</a>

{% for q in checks %}
    <div class="check-container">
        <h3 class="name">Name: {{ q.name }}</h3>
        <h4 class="amount">$ Amount: {{ q.amount }}</h4>
        <div class="signline">Pay to the order of:</div>
        <h4 class="written_date">Date: {{ q.written_date }}</h4>
        <p class="routing_no">Routing no: {{ q.routing_no }}</p>
        <p class="account_no">Account no: {{ q.account_no }}</p>
        <p class="check_no">Check no: {{ q.check_no }}</p>
    </div>
{% endfor %}

<style>
    .check-container {
        background-color: lightblue;
        margin: 10px;
        padding: 10px;
        display: grid;
        grid-template-areas:
        "name name date"
        "sign sign  amt"
        "r_no a_no c_no";

        width: 750px;
        height: 200px;
    }

    .check-container * {
        margin: 10px;
    }

    .name {
        grid-area: name;
    }

    .signline {
        grid-area: sign;
        border-bottom: 1px solid black;
    }

    .amount {
        grid-area: amt;
    }

    .written_date {
        grid-area: date;
    }

    .routing_no {
        grid-area: r_no;
    }

    .account_no {
        grid-area: a_no;
    }

    .check_no {
        grid-area: c_no;
    }
</style>