{% extends "base.html" %}

{% block script %}
    {% load static %}
    <link rel="stylesheet" href="{%  static 'printletters/print.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <div class="letter-container">
    {% for c in initialchecks %}
        <div class="letter">
            <h1>INITIAL NOTICE OF DISHONORED CHECK</h1>
            <br>
            <p>{% now "DATE_FORMAT" %}</p>
            <br>
            <p>{{c.account.name}}</p>
            <p>{{c.account.street_address}}</p>
            <p>{{c.account.city}}, {{c.account.state}} {{c.account.zip}}</p>
            <p>
                <p>Notice of Dishonored Check</p>
                <br>
                <p>Dear {{c.account.name}}:</p>
                <p>
                    We are writing to inform you that check #{{c.check_no}} dated {{c.written_date|date:"DATE_FORMAT"}},
                    in the amount of ${{c.amount}} made payable to {{c.recipient}} has been turned over to us.
                    We realize that such mishaps can occur and are confident that you will rectify this matter immediately.
                    Accordingly, we ask that you please mail (or deliver in person) a new payment in the original amount
                    plus the bank’s returned-check fee of $10 to the following address:
                    1700 Wade Hampton Blvd.
                </p>
                <p>
                    Please make your payment in cash, certified check, cashier’s check or money order only.
                    It is imperative that you do so without delay.
                    If funds are now available in your account and you would like us to redeposit the check,
                    please let us know as soon as possible.
                    You may contact our office at 648-SHN-YFFS.
                    If you have already sent replacement funds, please disregard this letter.
                    Thank you for your prompt attention to this matter.
                </p>
                <p>Sincerely,</p>
                <br>
                <p>The CheckShnyfer team</p>
            </p>
        </div>

        {% if not forloop.last %}
            <p style="page-break-before: always">
        {% endif %}
    {% endfor %}
    {% for c in secondarychecks %}
        <div class="letter">
            <h1>SECONDARY NOTICE OF DISHONORED CHECK</h1>
            <br>
            <p>{% now "DATE_FORMAT" %}</p>
            <br>
            <p>{{c.account.name}}</p>
            <p>{{c.account.street_address}}</p>
            <p>{{c.account.city}}, {{c.account.state}} {{c.account.zip}}</p>
            <p>
                <p>RE: Notice of Dishonored Check</p>
                <br>
                <p>Dear {{c.account.name}}:</p>
                <p>
                    As you recall, we wrote previously to inform you that check #{{c.check_no}} dated
                    {{c.written_date|date:"DATE_FORMAT"}}, in the amount of ${{c.amount}} made payable to
                    {{c.recipient}} has been turned over to us.
                    We are disappointed because you did not respond to the letter.
                    We now ask that you please mail (or deliver in person) a new payment in the original amount
                    plus the bank’s secondary returned-check fee of $20 to the following address:
                    1700 Wade Hampton Blvd.
                </p>
                <p>
                    Please make your payment in cash, certified check, cashier’s check or money order only.
                    It is imperative that you do so without delay. If funds are now available in your account
                    and you would like us to redeposit the check, please let me know as soon as possible.
                    You may contact our office at 648-SHN-YFFS. If you have already sent replacement funds,
                    please disregard this letter.
                    If no reply is made in the next ten days, then I will be forced to pursue legal action.
                    Thank you for your prompt attention to this matter.
                </p>
                <p>Sincerely,</p>
                <br>
                <p>The CheckShnyfer team</p>
            </p>
        </div>

        {% if not forloop.last %}
            <p style="page-break-before: always">
        {% endif %}
    {% endfor %}
    {% for c in terminalchecks %}
        <div class="letter">
            <h1>TERMINAL NOTICE OF DISHONORED CHECK</h1>
            <br>
            <p>{% now "DATE_FORMAT" %}</p>
            <br>
            <p>{{c.account.name}}</p>
            <p>{{c.account.street_address}}</p>
            <p>{{c.account.city}}, {{c.account.state}} {{c.account.zip}}</p>
            <p>
                <p>RE: Notice of Dishonored Check</p>
                <br>
                <p>Dear {{c.account.name}}:</p>
                <p>
                    We have written two letters to inform you that check #{{c.check_no}} dated
                    {{c.written_date|date:"DATE_FORMAT"}}, in the amount of ${{c.amount}}
                    made payable to {{c.recipient}} has been returned to us.
                    Since you have not responded to our letters, we will now Thave to pursue legal action.
                    You will receive the details in a separate letter.
                </p>
                <p>Sincerely,</p>
                <br>
                <p>The CheckShnyfer team</p>
            </p>
        </div>

        {% if not forloop.last %}
            <p style="page-break-before: always">
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}