{% extends "base.html" %}

{% block script %}
    {% load static %}
    <link rel="stylesheet" href="{%  static 'printletters/print.css' %}" type="text/css" />
{% endblock %}

{% block content %}
    <div class="letter-container">
    {% for c in initialchecks %}
        <div class="letter">
            <h1>INITIAL NOTICE OF DISHONORED CHECK</h1>
            <br>
            <p>{{c.written_date}}</p>
            <br>
            <p>{{c.account.name}}</p>
            <p>{{c.account.street_address}}</p>
            <p>{{c.account.city}}, {{c.account.state}} {{c.account.zip}}</p>
            <p>
                <p>Notice of Dishonored Check</p>
                <br>
                <p>Dear {{c.account.name}}:</p>
                <p>
                    I am writing to inform you that check #{{c.check_no}} dated {{c.written_date}}, in the amount of ${{c.amount}} made payable to CheckShnyfers has been returned to me.
                    I realize that such mishaps can occur and am confident that you will rectify this matter immediately. Accordingly, I ask that you please mail (or deliver in person) a new payment in the original amount plus the bank’s returned-check fee of $10 to the following address:
                    CheckShnyfer Office.
                    Please make your payment in cash, certified check, cashier’s check or money order only. It is imperative that you do so without delay. If funds are now available in your account and you would like me to redeposit the check, please let me know as soon as possible. You may contact me at CheckShnyfer Phone. If you have already sent replacement funds, please disregard this letter.
                    Thank you for your prompt attention to this matter.
                </p>
                <p>Sincerely,</p>
                <br>
                <p>The CheckShnyfer team</p>
            </p>
        </div>

        {% if not forloop.last %}
            <p style="page-break-before: always">
        {% endif %}
    {% endfor %}
    {% for c in secondarychecks %}
        <div class="letter">
            <h1>SECONDARY NOTICE OF DISHONORED CHECK</h1>
            <br>
            <p>{{c.written_date}}</p>
            <br>
            <p>{{c.account.name}}</p>
            <p>{{c.account.street_address}}</p>
            <p>{{c.account.city}}, {{c.account.state}} {{c.account.zip}}</p>
            <p>
                <p>RE: Notice of Dishonored Check</p>
                <br>
                <p>Dear {{c.account.name}}:</p>
                <p>
                    As you recall, I wrote previously to inform you that check #{{c.check_no}} dated {{c.written_date}}, in the amount of ${{c.amount}} made payable to CheckShnyfers has been returned to me.
                    I am disappointed because you did not respond to the letter. I now ask that you please mail (or deliver in person) a new payment in the original amount plus the bank’s secondary returned-check fee of $20 to the following address:
                    CheckShnyfer Office.
                    Please make your payment in cash, certified check, cashier’s check or money order only. It is imperative that you do so without delay. If funds are now available in your account and you would like me to redeposit the check, please let me know as soon as possible. You may contact me at CheckShnyfer Phone. If you have already sent replacement funds, please disregard this letter.
                    If no reply is made in the next ten days, then I will be forced to pursue legal action.
                    Thank you for your prompt attention to this matter.
                </p>
                <p>Sincerely,</p>
                <br>
                <p>The CheckShnyfer team</p>
            </p>
        </div>

        {% if not forloop.last %}
            <p style="page-break-before: always">
        {% endif %}
    {% endfor %}
    {% for c in terminalchecks %}
        <div class="letter">
            <h1>TERMINAL NOTICE OF DISHONORED CHECK</h1>
            <br>
            <p>{{c.written_date}}</p>
            <br>
            <p>{{c.account.name}}</p>
            <p>{{c.account.street_address}}</p>
            <p>{{c.account.city}}, {{c.account.state}} {{c.account.zip}}</p>
            <p>
                <p>RE: Notice of Dishonored Check</p>
                <br>
                <p>Dear {{c.account.name}}:</p>
                <p>
                    I have written two letters to inform you that check #{{c.check_no}} dated {{c.written_date}}, in the amount of ${{c.amount}} made payable to CheckShnyfers has been returned to me.
                    I am disappointed because you did not respond to the letter and will now have to pursue legal action. You will receive the details in a separate letter.
                </p>
                <p>Sincerely,</p>
                <br>
                <p>The CheckShnyfer team</p>
            </p>
        </div>

        {% if not forloop.last %}
            <p style="page-break-before: always">
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}